body {
  margin: 0;
}
h2 {
  color: #fff;
  font-family: 'Tahoma';
}
#app {
  background: linear-gradient(to bottom, #f77e62, #ca5b6c, #ac396b, #5b346d, #0d1638);
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#form-wrapper > form{
  width: 400px;
  background: rgba(255,255,255, .3);
  padding: 40px;
  border-radius: 8px;
}

#form-wrapper label {
  color: #fff;
}

#welcome {
  display: flex;
  align-items: center;
}
#welcome .title {
  text-align: right;
  border-right: solid 1px #fff;
}
#welcome h1 {
  font-size: 35px;
  color: #fff;
  font-family: tahoma;
  font-weight: 400;
  margin: 0;
}
#welcome p,
#welcome small {
  color: #fff;
}
#welcome p {
  font-size: 22px;
}
#welcome small {
  letter-spacing: 2px;
}
#welcome > * {
  padding: 10px 20px;
}

.k-form-field .k-form-error {
  color: #fff;
}