body {
  margin: 0;
}
h2 {
  color: #fff;
  font-family: 'Tahoma';
}
#app {
  background: linear-gradient(to bottom, #f77e62, #ca5b6c, #ac396b, #5b346d, #0d1638);
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#form-wrapper > div{
  width: 100%;
  max-width: 600px;
  background: rgba(255,255,255, .3);
  padding: 40px;
  border-radius: 8px;
}

#form-wrapper label {
  color: #fff;
}